{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>

        </tr>
        </thead>
        <tbody>
        {% for users in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': users.id }) }}">{{ users.id }}</a></td>
                <td>{{ users.name }}</td>
                <td>{{ users.surname }}</td>
                <td>{{ users.age }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_delete', { 'id': users.id }) }}">Delete</a>
                        </li>
                        <li>
                            <a href="{{ path('users_edit', { 'id': users.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}