{% extends'base.html.twig' %}

{% block body %}

    <style>

        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .error { color: red }

    </style>

<div class="example-wrapper">

    <a href="{{ path('logout') }}">Logout</a>

    <h1>Login page</h1>

    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="post">

        <label for="username">Username:</label>
        <input type="text" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" name="_password">

        <button type="submit">Login</button>

    </form>

</div>
{% endblock %}
