{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}