{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    <table>
        <body>
        <tr>
            <th>Id</th>
            <td>{%  if users.id %}{{ path('users_show', { 'id': users.id })}}{% endif %}</td>

        </tr>
        <tr>
            <th>Name</th>
            <td>{{ users.name }}</td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>{{ users.surname }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ users.age }}</td>
        </tr>
        </body>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': users.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}
